@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sedan:ital@0;1&display=swap');

.sedan-regular-italic {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sedan", sans-serif;
    color:rgb(150, 62, 232)
}

header {
    background-color: rgb(228, 205, 255);
    border-radius: 6px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center ;

}

#image-profile {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
#principal {
    border-radius: 6px;
    height: 800px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    background-color:rgba(0, 255, 255, 0.642);
    border-radius: 6px;
    height: 100%;
    width: 74%;
}

aside {
    background-color: rgba(127, 255, 212, 0.511);
    border-radius: 6px;
    height: 100%;
    width: 25%;
}

footer {
    background-color: rgba(0, 255, 255, 0.842);
    border-radius: 6xp;
    height: 100xp;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    color: rgba(255, 0, 204, 0.845);
    font: 1.2rem;
}

footer a {
    color: rgba(255, 0, 225, 0.849);
    text-decoration: none;
    font-size: 500;
}
